:root {
  --cor-0: #18171d;
  --cor-1: #38221f;
  --cor-2: #e3762b;
  --cor-3: #703f2a;
  --cor-4: #37767c;
  --cor-5: #ffffff;

}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
